@page "/"
@inherits ComponentBase
@using GitKeeper.Components

<div class="@BaseClass" >

@if (Repositories.Count() > 0)
{
  <h1 class=@TitleClass >Hello, world!</h1>
}
else
{

  <div class="flex-container-column">
  <button class="@CardButtonClass" style="width: 400px; height: 100px;" @onclick="ShowOpenDialog">
    <div class="flex-container-row" style="aligin-item : flex-start;">
      <MaterialIcon Theme="@Themes.Filled" Size="96" Color="fg-red">source</MaterialIcon>
      <div>
        <h6> Open Local Repository </h6>
        <p>open local repository</p>
      </div>
    </div>
  </button>
  <button class="@CardButtonClass" style="width: 400px; height: 100px;" @onclick="Loading">
    <div class="flex-container-row" style="aligin-item : flex-start;">
      <MaterialIcon Theme="@Themes.Filled" Size="96" Color="fg-red">file_download</MaterialIcon>
      <div>
        <h6>Clone Repository </h6>
        <p>clone repository</p>
      </div>
    </div>
  </button>
  </div>
}
</div>
